<div class="search-box"> 

  <div class="fiter-wrapper">
    <div class="filter-area">
      <div>
        <input
          id="due_date"
          name="due_date"
          class="form-control"
          matInput
          type="datetime-local"
          [(ngModel)]="filterDueDate"
        />
      </div>
      <div>
        <select
          id="priority"
          name="priority"
          class="form-control"
          [(ngModel)]="filterPriority"
        >
          <option value="">Select</option>
          <option value="1">Normal</option>
          <option value="2">Mid</option>
          <option value="3">High</option>
        </select>
      </div>
      <div>
        <button type="button" (click)="filterData()" class="btn btn-outline-dark">
          Filter
        </button>
      </div>
    </div>
    <div>
      <button class="btn-primary" (click)="openModal()">Add Task</button>
    </div>
  </div>
  <div class="search-wrapper">
    <div>
      <input
        id="search_text"
        name="due_date"
        class="form-control"
        matInput
        [(ngModel)]="searchText"
        placeholder="enter message text"
      />
    </div>
    <div>
      <button class="btn btn-outline-dark" (click)="searchClick()">Search</button>
    </div>
  </div>


</div>
<div class="data-table">
  <div class="loading-container" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" color="primary">
    </mat-progress-spinner>
  </div>

  <div class="task-list-container" *ngIf="!loading">
    <div class="priority-table">
      <h2>High</h2>

      <div
        cdkDropList
        #taskListHigh="cdkDropList"
        [cdkDropListData]="taskListHighArr"
        [cdkDropListConnectedTo]="[taskListMid]"
        (cdkDropListDropped)="drop($event)"
        class="priority-list"
        id="3"
      >
        <div
          class="drag-item"
          *ngFor="let item of taskListHighArr"
          cdkDrag
          [cdkDragData]="item"
        >
          <mat-card>
            <mat-card-content>
              <div><span class="title">Message :</span> {{ item.message }}</div>
              <div>
                <span class="title">Due Date :</span> {{ item.due_date }}
              </div>
              <div>
                <span class="title">Assigned :</span>
                {{ item.assigned_name }}
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button
                (click)="openModal(item)"
                class="btn btn-outline-dark mr-2"
              >
                Edit
              </button>
              <button (click)="onDelete(item.id)" [disabled]="loadingDelete" class="btn btn-outline-dark">
                Delete
              </button>
            </mat-card-actions>
          </mat-card>         
        </div>
      </div>
    </div>
    <div class="priority-table">
      <h2>Medium</h2>

      <div
        cdkDropList
        #taskListMid="cdkDropList"
        [cdkDropListData]="taskListMidArr"
        [cdkDropListConnectedTo]="[taskListHigh, taskListNormal]"
        (cdkDropListDropped)="drop($event)"
        class="priority-list"
        id="2"
      >
        <div
          class="drag-item"
          *ngFor="let item of taskListMidArr"
          cdkDrag
          [cdkDragData]="item"
        >
          <mat-card>
            <mat-card-content>
              <div><span class="title">Message :</span> {{ item.message }}</div>
              <div>
                <span class="title">Due Date :</span> {{ item.due_date }}
              </div>
              <div>
                <span class="title">Assigned :</span>
                {{ item.assigned_name }}
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button
                (click)="openModal(item)"
                class="btn btn-outline-dark mr-2"
              >
                Edit
              </button>
              <button (click)="onDelete(item.id)" [disabled]="loadingDelete" class="btn btn-outline-dark">
                Delete
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="priority-table">
      <h2>Normal</h2>
      <div
        cdkDropList
        #taskListNormal="cdkDropList"
        [cdkDropListData]="taskListNormalArr"
        [cdkDropListConnectedTo]="[taskListHigh, taskListMid]"
        (cdkDropListDropped)="drop($event)"
        class="priority-list"
        id="1"
      >
        <div
          class="drag-item"
          *ngFor="let item of taskListNormalArr"
          cdkDrag
          [cdkDragData]="item"
        >
          <mat-card>
            <mat-card-content>
              <div><span class="title">Message :</span> {{ item.message }}</div>
              <div>
                <span class="title">Due Date :</span> {{ item.due_date }}
              </div>
              <div>
                <span class="title">Assigned :</span>
                {{ item.assigned_name }}
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button
                (click)="openModal(item)"
                class="btn btn-outline-dark mr-2"
              >
                Edit
              </button>
              <button (click)="onDelete(item.id)" [disabled]="loadingDelete" class="btn btn-outline-dark">
                Delete
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
